/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT */

header {
    position: fixed;
    background-color: #ff6900;
    width: 100vw;
    height: 80px;
    z-index: 1;
}

.box-h {}

/* UTILITY */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-100 {
    width: 100%;
}

.col-60 {
    width: 60%;
}

.col-50 {
    width: 50%;
    height: 50%;
}

.col-40 {
    width: 40%;
}

.align-center {
    align-items: center;
}

.bg-green {
    background-color: rgb(59, 255, 20);
    border: 1px solid black;
}